<div class="container-fluid">

  <div class="row">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/imgs/heroelectric.png" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Confía tus necesidades eléctricas a manos expertas!</h5>
            <p class="card-text"><small class="text-body-secondary">Por qué elegir nuestros servicios eléctricos?</small></p>
            <p class="card-text">En nuestro equipo contamos con electricistas altamente calificados y listos para atender tus demandas en la comodidad de tu hogar.</p>

            <button type="button" id="ctanow">Coordiná hoy una visita
               <a href="tel://+59898414718">
                <span class="material-symbols-outlined">
            phone_callback
                </span>
                </a>

            </button>
            <small>Horario de atención: Lunes a Viernes 8:00 a 18:00</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/imgs/lightup.png" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Domicilio o Comercio</h5>
            <p class="card-text"><small class="text-body-secondary">Tu tranquilidad eléctrica comienza con nosotros</small></p>
            <p class="card-text">Desde la solución de problemas simples hasta proyectos mas grandes, estamos para ayudarte con tus necesidades eléctricas. Contactános ahora y deja que nuestros expertos se encarguen de todo.</p>

            <button type="button" id="ctanow">Agendá hoy tu consulta
              <a href="tel://+59898414718">
                <span class="material-symbols-outlined">
              phone_callback
                </span>
              </a>

            </button>
            <small>Horario de atención: Lunes a Viernes 8:00 a 18:00</small>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

