<div class="container-fluid">

  <div class="row">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/imgs/heroelectric.png" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Confia tus necesidades electricas a manos expertas!</h5>
            <p class="card-text">En nuestro equipo contamos con electricistas altamente calificados y listos para atender tus demandas en la comodidad de tu hogar.</p>
            <p class="card-text"><small class="text-body-secondary">Por que elegir nuestros servicios electricos?</small></p>
            <button type="button" id="ctanow" class="btn btn-outline-primary">Coordina hoy una visita
               <a href="tel://+59898414718">
                <span class="material-symbols-outlined">
            phone_callback
                </span>
                </a>

            </button>
            <small>Horario de atencion: Lunes a Viernes 8:00 a 18:00</small>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/imgs/lightup.png" alt="" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Domicilio o Comercio</h5>
            <p class="card-text">Desde la solucion de problemas simples hasta proyectos mas grandes, estamos aqui para ayudarte con todas tus necesidades electricas. No dejes que los problemas electricos te preocupen, contactanos ahora y deja que nuestros expertos se encarguen de todo.</p>
            <p class="card-text"><small class="text-body-secondary">Tu tranquilidad electrica comienza con nosotros</small></p>
            <button type="button" id="ctanow" class="btn btn-outline-primary">Agenda hoy tu consulta
              <a href="tel://+59898414718">
                <span class="material-symbols-outlined">
              phone_callback
                </span>
              </a>

            </button>
            <small>Horario de atencion: Lunes a Viernes 8:00 a 18:00</small>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

