.container {
  margin: 1.2rem auto;
}

.col-md-4 {
  margin: auto 0;
}

.card-body {
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: space-around;
}

.card-title {
  font-size: 1.6rem;
  color: #179d14;

}

.card-text {
  font-size: 1.2rem;
}
.card {
  border: none;
}
.carousel {
  margin: 1rem 0;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #85a2f8;
  padding: .7rem;
  background-color: #40548f;
}
