* {
  font-family: 'Carrois Gothic', sans-serif;
}

.saltologo {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  mix-blend-mode: multiply;

}
.navbar-brand {
  font-size: x-large;
}

.fa {
  font-size: 1.2rem;
  margin: 0;
}
.icon-link {
  text-decoration: none;
}
.navbar>.container {
  justify-content: space-evenly;
}

.animated-icon {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
