<div class="col-md-4">
  <img src="assets/imgs/work-galler/poolclima/climatice.jpg" alt="" class="img-fluid">

  <img src="assets/imgs/work-galler/poolclima/climatice2.jpg" alt="" class="img-fluid">

  <img src="assets/imgs/work-galler/poolclima/poolclima.jpg" alt="" class="img-fluid">

  <img src="assets/imgs/work-galler/poolclima/poolclima1.jpg" alt="" class="img-fluid">

  <img src="assets/imgs/work-galler/poolclima/poolclima2.jpg" alt="" class="img-fluid">

  <img src="assets/imgs/work-galler/poolclima/poolclima3.jpg" alt="" class="img-fluid">


</div>
