
<div class="card mb-3" style="max-width: 1240px;">
  <div class="row g-0">
    <div class="col-md-6">
    <img src="assets/imgs/climatepool.png" class="img-fluid rounded-start" id="firstone" alt="...">
    </div>

    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Climatización de piscinas</h5>
        <p class="card-text">Para aquellos que desean maximizar el disfrute de su piscina durante todo el año.</p>

        <div class="accordion accordion-flush" id="accordionHouse">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Eficiencia y Ahorro de Costos
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionHouse">
              <div class="accordion-body">Los modernos climatizadores para piscinas son eficientes,utilizando tecnologías como
                bombas de calor o intercambiadores de calor. Estos sistemas pueden extraer calor del aire
                  ambiente o de fuentes naturales, como el sol, para calentar el agua de la piscina. Al mejorar la eficiencia energética,
                  se experimenta un ahorro significativo en los costos a largo plazo en comparación con métodos tradicionales de calentamiento de piscinas.
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Control Preciso de la Temperatura del Agua
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionHouse">
              <div class="accordion-body">Un climatizador te brinda la capacidad de controlar con precisión la temperatura del agua de tu piscina.
                 Ajustar facilmente la temperatura a niveles cómodos durante diferentes estaciones del año.
                  Este control preciso contribuye significativamente al confort y mejora la experiencia de la piscina.
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Disfruta tu piscina todo el año
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionHouse">
              <div class="accordion-body">
                La adición de un climatizador permite el uso de la piscina durante todo el año,
                independientemente de las condiciones climáticas locales. Con la capacidad de mantener
                una temperatura agradable incluso en meses más fríos, podes disfrutar de la piscina en
                cualquier momento, lo que aumenta el valor y la utilidad de tu inversión en la piscina.
              </div>
          </div>
        </div>
        <button type="button" id="ctanow" class="btn btn-outline-primary">Comunicate hoy mismo mediante whatsapp</button>
      </div>
      </div>

      </div>

  </div>
    </div>
    </div>

  </div>
