.container {
  background: #e2e8fa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #e2e8fa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #e2e8fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.row {
  padding: 1.3rem;
  text-align: left;
  max-width: fit-content;
}

a {
  text-decoration: none;
}

small {
  padding: 0 .2rem;
}
.link-dark i {
  font-size: 1.5rem;
}
#contenedor-foot {
  padding: 1.5rem;
}
#contenedor-foot small, ul li, #anchor-location {
  margin-bottom: 1.1rem;
}
