<div class="container">
  <div class="row">


    <div class="col-sm-6">
      <div class="row">
        <div class="col-8 col-sm-6">
          Servicios
          <div class="row"><p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Instalaciones</a></p></div>
          <div class="row"><p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sistemas CCTV</a></p></div>
          <div class="row"><p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Paneles Solares</a></p></div>
        </div>
        <div class="col-8 col-sm-6">
          Trayectoria
          <div class="row"><p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Nosotros</a></p>
          </div>
          <div class="row"><p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Garantia</a></p></div>

          <div class="row"><p><a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Asesoria</a></p></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      Contacto
      <div class="row">
        <div class="mb-3">
          <label for="FormControlInput1" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="FormControlInput1" placeholder="nombre@gmail.com">
        </div>
        <div class="mb-3">
          <label for="FormControlTextarea1" class="form-label">Dejanos un mensaje</label>
          <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
        </div>
       <div class="mb-3">
        <button type="button" class="btn btn-outline-primary btn-lg">Enviar</button>
       </div>
      </div>
    </div>
  </div>
</div>
