<div class="card-group">
  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Nuestro equipo altamente capacitado se encargara de todo el proceso, desde la evaluación de tu espacio hasta la instalación completa, garantizando un rendimiento optimo y duradero </p>
    </div>

  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/electricbusiness.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Planificación, ejecución y asesoria de instalaciones eléctricas en comercio e industria. Todo cumpliendo la normativa vigente a nivel nacional.</p>
      </div>

  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/oldswitch.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"> Desde instalaciones hasta reparaciones, nos aseguramos de que cada trabajo se realice con la más alta calidad y profesionalismo.</p>
    </div>

  </div>
</div>

