<div class="card-group">
  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Instalación de paneles solares. Nuestro equipo de expertos altamente capacitados se encargara de todo el proceso, desde la evaluacion de tu espacio hasta la instalacion completa, garantizando un rendimiento optimo y duradero </p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Conocer mas
      </small>
      <a class="icon-link" href="#"><i class="fa fa-arrow-right"></i>
        </a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/electricbusiness.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Planificación, ejecución y asesoria de instalaciones eléctricas en comercio e industria. Todo cumpliendo la normativa vigente a nivel nacional.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Envianos un mensaje</small>
        <a class="icon-link" href="#">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/imgs/housemaint.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"> Desde instalaciones hasta reparaciones, nos aseguramos de que cada trabajo se realice con la mas alta calidad y profesionalismo.</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Mas informacion</small>
      <a class="icon-link" href="#">
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>

