.row {
  justify-content: space-evenly;
  font-size: medium;
  padding: 2rem 0;
}
a {
  text-decoration: none;
}
.card {
  padding: 0 1.1rem;
  border: none;
}
.card-group {
  padding: 2rem 0;
}
.card-text {
  text-align: left;
}
.card-footer {
  border-bottom: 1px solid #000;
}
