.row {
  justify-content: space-evenly;
  font-size: medium;
  padding: 2rem 0;
}
a {
  text-decoration: none;
}
.card {
  padding: 0 1.1rem;
  margin: 0 auto;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
}
.card-group {
  padding: 2rem 0;
}
.card-text {
  text-align: center;
  padding: .4rem;
  font-family: 'Inter', sans-serif;
}
.card-footer {
  border-bottom: 1px solid #000;
}
.card-body {
  padding: .4rem;
  margin-right: .4rem;
}
