.row {
  padding: .6rem .2rem;
}
.lead {
  padding: 1rem 0;
  background: #e2e8fa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #e2e8fa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #e2e8fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 6px;
  font-family: 'Oswald', sans-serif;

}
.toast {
  display: flex;
  padding: .4rem 0;
  margin: .3rem auto;
}
.d-block {
  max-height: 650px;
  max-width: 80%;
  margin: auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #85a2f8;
  padding: 1rem;
  background-color: #40548f;
}
