.nav-link {
  color: #000;
}
.nav-link.active {
  color: #179d14;
}
.nav-link:hover {
  color: #179d14;
}
#ulist {
  margin-bottom: 1.2rem ;
}

@media only screen and (width < 400px){
  #ulist {
   display: inline;
  }


}
