<div class="card mb-3" style="max-width: 1240px;">
  <div class="row g-0">
    <div class="col-md-6">
    <img src="assets/imgs/1.png" class="img-fluid rounded-start" id="firstone" alt="...">
    </div>

    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Instalacion de paneles solares</h5>
        <p class="card-text">Por que no aprovechar la energia del sol para reducir tus costos energeticos?</p>
        <h5 class="card-text">Hace la eleccion inteligente, elegi la energia solar!</h5>
        <div class="accordion accordion-flush" id="accordionHouse">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ahorro significativo a largo plazo
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionHouse">
              <div class="accordion-body">Los paneles solares permiten generar tu propia electricidad a partir de
                 la energía solar, reduciendo así tu dependencia de la red eléctrica tradicional. Aunque la inversión
                 inicial puede ser significativa, a largo plazo, los propietarios experimentan un ahorro sustancial
                 en sus facturas de electricidad, retornando rapidamente la inversión inicial.
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Aumento del Valor de la Propiedad
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionHouse">
              <div class="accordion-body">La instalación de paneles solares puede aumentar significativamente el valor de una propiedad.
                Los compradores de viviendas y propiedades comerciales están cada vez más interesados en soluciones de energía renovable,
                y la presencia de un sistema solar es un factor diferenciador positivo. Además, estudios sugieren que las propiedades con
                 paneles solares tienden a venderse más rápido en el mercado inmobiliario.
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Responsabilidad Corporativa y Reputación
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionHouse">
              <div class="accordion-body">
                Para las empresas, la adopción de la energía solar puede mejorar la imagen de la marca al demostrar
                un compromiso con la sostenibilidad y la responsabilidad ambiental.
                Muchos consumidores valoran a las empresas que toman medidas para reducir su impacto ambiental.
              </div>
          </div>
        </div>
        <button type="button" id="ctanow" class="btn btn-outline-primary">Solicitar presupuesto</button>
      </div>
      </div>

      </div>

  </div>
    </div>
    </div>

  </div>
